*{
   box-sizing: border-box;
}
div {
    /* max-width: 600px; */
    width: 50%;
    border-radius: 4px;
    border: 2px solid #04aa6d ;;
    background-color: #bbaaaa;
    padding: 20px;
}
.reseet{
    background-color: #11be7f;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    color: aliceblue;
    

}