* {
    margin: 0px;
    padding: 0px;
}
.form-input {
    width: 100%;
}
 table {
    width: 600px;
    height: 50vh;
 }
table, th, tr, td {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;

}
.navbar {
    width: 100%;
    height: 10vh;
    background-color: rgb(250, 165, 54);
}
.container {
    width: 100%;
    height: 90vh;
    background-color: rgb(119, 112, 112);
    
    
}
iframe {
    width: 100%;
    height: 100vh;
    margin-left: 100px;
    margin-top: 20px;

}
ul li {
    list-style-type: none;
    
}
a {
    float: left;
    margin: 15px;
    text-decoration: none;
    border: 5px solid black;
    background-color: rgb(2, 2, 51);
    color: aliceblue;



}
form {
    border: 1px solid wheat;
    padding: 10px;
    max-width: 600px;
}
button {
    padding: 5px;
    background-color: cadetblue;
    
}

a:hover, button:hover {
    background-color: chartreuse;
    color: crimson;
}