header {
   width: 100%; 
   height: 5vh;
   background-color: chartreuse;
}
nav, ul, li{
list-style-type: none;
float: left;
padding: 5px;
}
nav, a {
    text-decoration: none;
    color: blue;
    font-size: larger;
    font-weight: bolder;
}
a:hover{
    color: aqua;
    background-color: chocolate;
    padding: auto;
    transform: rotateX('0') scale(1) translateY(-10px);
}