body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
ul li{
    float: left;
    border-right: 1px solid black;
}

ul li:last-child{
    border-right: none;
    
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
}
ul li a:hover {
    background-color: hsl(150, 98%, 46%);
    color: blue;
}

