nav, li {
    list-style: none;
    float: left;
    display: flex;
    margin: 10px;
    font-size: 2vh;
    
    



}

nav {
    background-color: hsl(186, 100%, 50%);
    width: 100%;
    height: 10vh;

}
a {
    text-decoration: #ff0000;
    color: rgb(22, 5, 253);
    

}
a:hover {
    color: rgb(255, 3, 3);
    background-color: #cbf800;
   
}